/* formulario main */
form {
    background-color: white;
    padding: 20px;
    color: black;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    width: 90%;
    border: 2px solid black;
}

/* fondo del formulario */
.form {
    background-image: url("../assets/images/background-form.webp");
    padding: 30px;
}

.field {
    outline: none;
    padding: 10px;
    border: 1px solid #ccc;
    width: 90%;
    transition: 0.5s;
}

label {
    display: block;
    padding: 10px;
}

.botones {
    width: 90%;
    padding: 5px;
    margin: 5px;
    border: 2px outset #E18903;
    border-radius: 5px;
    transition: 0.5s;
}

/* efecto a los botones mouse fondo naranja */
.botones:hover {
    background-color: #E18903;
}

/* efecto al presionar la caja para escribir */
.field:focus {
    border-color: #E18903;
}