/* main */

/* titulo */
.inicio {
    color: #E18903; 
    background-image:url("../assets/images/banner-inicio.webp") ; 
    background-repeat: no-repeat; 
    background-size: 200%; 
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    padding: 15%;
}

.inicio div {
    display: flex;
    width: 100%;
    height: 20%;
}

h1 {
    background-color:black; 
    border-radius: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 5px;
}

/* posicion del eslogan */
.eslogan {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

/* eslogan */
.eslogan p {
    color: black;
    font-size: 100%;
    text-align: center;
    background-color:#E18903;
    width: 100%;
    border-radius: 30px;
    padding: 10px 0px;
    font-weight: 600;
}

/* titulos h2 subrayados */
section h2 {
    text-align: center;
    margin: 30px;
    font-size: x-large;
}

/* destinos banner */
.destinos {
    color: #E18903; 
    background-image:url("../assets/images/banner-destinos.webp") ; 
    background-repeat: no-repeat; 
    background-size: 200%; 
    background-attachment: fixed ; 
    padding: 20%;
}

.destinos-destacados {
    display: flex;
    flex-wrap: wrap;
}

/* nombre de las ciudades */
.destinos-destacados h3 {
    padding: 5px 5px;
    margin: 15px 20px;
    border-radius: 30px;
    background-color: #E18903;
    width: 100%;
    color: #000000;
    text-align: center;
    justify-content: center;
}

/* parrafos explicacion ciudades */
.destinos-destacados p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px 15px;
    width: 100%;
}

.container-img {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

/* imagenes de los destinos */
.destinos-destacados img {
    width: 70%;
    margin: 20px;
    height: auto;
    border-radius: 30px;
    transition: 0.5s;
}

.destinos-destacados img:hover {
    width: 92%;
    height: auto;
    box-shadow: 5px 5px 30px 0px #191919;
}

/* banner de transportes */
.transportes {
    color: #E18903; 
    background-image:url("../assets/images/banner-transporte.webp") ; 
    background-repeat: no-repeat; 
    background-size: 200%; 
    background-attachment: fixed ; 
    padding: 20%;
}

/* subtitulo del h2 de transporte */
.subtitulos {
    width: 100%;
    padding: 20px;
    text-align: center;
}

/* titulo del transporte */
.avion h3, .barco h3, .bus h3 {
    font-weight: 600;
    background-color: #000000;
    border-radius: 30px;
    padding: 10px;
}

/* parrafos sobre los distintos transportes */
.avion p , .barco p , .bus p {
    display: inline-block;
    color: white;
    border-radius: 20px;
    font-size: medium;
    padding: 10px;
    font-weight: 100;
}

/* transporte avion */
.avion {
    color: #E18903; 
    text-align: center; 
    background-image:url("../assets/images/avion.webp") ; 
    background-repeat: no-repeat; 
    background-size: 200%; 
    background-attachment: fixed ; 
    padding: 15%;
}

/* transporte barco */
.barco {
    color: #E18903; 
    text-align: center; 
    background-image:url("../assets/images/barco.webp") ; 
    background-repeat: no-repeat; 
    background-size: 200%; 
    background-attachment: fixed ; 
    padding: 15%;
}

/* transporte bus */
.bus {
    color: #E18903; 
    text-align: center; 
    background-image:url("../assets/images/bus.webp") ; 
    background-repeat: no-repeat;
    background-size: 200%; 
    background-attachment: fixed ; 
    padding: 15%;
}

/* galeria de hoteles */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    padding: 30px;
    margin-bottom: 50px;
    position: relative;
}

.hotel {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
}

/* efecto para agrandar imagen y darle bordes */
.hotel:hover {
    transform: scale(1.1);
    border: 5px solid #E18903;
    z-index: 1;
}

.hotel img {
    width: 100%;
    height: auto;
    justify-content: center;
}

.hotel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2;
}

/* efecto para que la imagen se ponga mas opaca al pasar mouse */
.hotel:hover .hotel-overlay {
    opacity: 1;
}

.hotel-name {
    color: #fff;
    font-size: 16px;
    padding: 10px;
    text-align: center;
}