/* main */
/* boton wsp */
.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;

    /* funcion para que el boton siga el scroll */
    a {
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: green;
        text-align: center;
        line-height: 60px;
        box-shadow: 0 2px 5px black;
        transition: 0.5s;
    }

    /* Efecto al pasar mouse */
    a:hover {
        background-color: darkgreen;
    }

    img {
        width: 40px;
        height: 40px;
        vertical-align: middle;
        margin-left: 0;
    }
}

/* Estilo para el carrusel y etiquetas */
#carouselExampleFade {
    height: 500px;
}

/* imagen del carrusel */
.d-block {
    height: 500px;
    object-fit: cover;
}

/* indicadores del carrusel */
.carousel-indicators {
    display: none;
}

.carousel-inner {
    height: 100%;

    .carousel-item {
        height: 100%;
        display: flex;
        align-items: center;

        /* texto del carrusel */
        .carousel-caption {
            padding: 10px;
            color: $main-color;
            background-color: rgba(0, 0, 0, 0.95);
            border-radius: 20px;
            text-align: center;

            h1,
            h2 {
                margin: 0;
                font-size: 1.5rem;
            }

            p {
                margin: 0;
                font-size: 1rem;
            }
        }
    }
}

.h1 {
    @include h1;
}

/* titulos h2 subrayados */
.h2 {
    @include h2;
}

/* destinos banner */
.destinos {
    @include banners;
    background-image: url("../assets/images/banner-destinos.webp");
}

.destinos-destacados {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    /* nombre de las ciudades */
    h3 {
        padding: 10px;
        border-radius: 20px;
        background-color: $main-color;
        width: 100%;
        color: $dark-color;
        text-align: center;
        justify-content: center;
    }

    /* parrafos explicacion ciudades */
    p {
        display: flex;
        justify-content: center;
        padding: 10px;
        margin-bottom: 0;
        text-align: center;
        width: 100%;
    }

    /* imagenes de los destinos */
    img {
        width: 70%;
        margin: 20px;
        height: auto;
        border-radius: 20px;
        transition: 0.5s;
    }

    img:hover {
        @include shadow
    }
}

.destino-content {
    width: 90%
}

.container-img {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

/* banner de transportes */
.transportes {
    @include banners;
    background-image: url("../assets/images/banner-transporte.webp");
}

/* subtitulo del h2 de transporte */
.subtitulos {
    width: 100%;
    padding: 20px;
    text-align: center;
}

/* titulo del transporte */
.avion h3,
.barco h3,
.bus h3 {
    font-weight: 600;
    border-radius: 20px;
    padding: 10px;
}

/* parrafos sobre los distintos transportes */
.avion p,
.barco p,
.bus p {
    display: inline-block;
    color: $light-color;
    border-radius: 20px;
    font-size: medium;
    padding: 10px;
    font-weight: 100;
}

/* transporte avion */
.avion {
    @include transporte;
    background-image: url("../assets/images/avion.webp");
}

/* transporte barco */
.barco {
    @include transporte;
    background-image: url("../assets/images/barco.webp");
}

/* transporte bus */
.bus {
    @include transporte;
    background-image: url("../assets/images/bus.webp");
}

/* galeria de hoteles */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    padding: 30px;
    margin-bottom: 50px;
    position: relative;
}

.hotel {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    position: relative;

    /* efecto para agrandar imagen y darle bordes */
    &:hover {
        transform: scale(1.1);
        border: 5px solid $main-color;
        z-index: 1;
    }

    img {
        width: 100%;
        height: auto;
        justify-content: center;
    }
}

.hotel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2;
}

/* efecto para que la imagen se ponga mas opaca al pasar mouse */
.hotel:hover .hotel-overlay {
    opacity: 1;
}

.hotel-name {
    color: $light-color;
    font-size: 16px;
    padding: 10px;
    text-align: center;
}

/* seccion de contactanos */
.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("../assets/images/contactanos.webp");
    background-size: cover;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    height: 300px;
    padding: 20px;
    margin: 20px 0px;

    .contact-content {
        width: 100%;
        text-align: center;

        h2 {
            font-size: x-large;
            font-weight: 600;
            color: $dark-color;
            margin-bottom: 10px;
        }

        p {
            font-size: large;
            color: $dark-color;
            opacity: 0.8;
            margin-bottom: 0;
        }
    }

    /* boton de contactanos */
    .contact-button {
        border: solid 3px $dark-color;
        padding: 10px 20px;
        width: fit-content;
        font-size: 1.2rem;
        font-weight: 600;
        margin: 0 auto;
        border-radius: 20px;
        color: $main-color;
        background-color: rgba(0, 0, 0, 0.7);
        transition: 0.5s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.9);
            scale: 1.3;
        }
    }
}