/* sobre nosotros banner */
.sobre-nosotros {
    @include banners;
    background-image: url("../assets/images/banner-sobre-nosotros.webp");
}

/* nuestra historia */
.historia {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    p {
        text-align: center;
        width: 100%;
        margin: 5px 15px;
    }

    /* imagenes del edificio */
    img {
        width: 80%;
        border-radius: 30px;
        margin-top: 20px;
        transition: 0.5s;
    }

    img:hover {
        width: 90%;
        box-shadow: 5px 5px 40px 0px $dark-color;
    }
}

/* seccion de beneficios */
.beneficios-seccion {
    display: flex;
    flex-wrap: wrap;

    h2 {
        text-align: center;
        width: 100%;
        margin: 50px;
        font-size: x-large;
    }
}

.beneficio {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: center;

    /* explicacion de los beneficios */
    p {
        text-align: center;
        display: flex;
        width: 100%;
        padding: 20px;
    }
}

.beneficio-item {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* imagenes representativas de los beneficios */
    img {
        width: 80%;
        height: auto;
        border-radius: 10%;
        transition: 0.5s;
    }

    img:hover {
        width: 90%;
        box-shadow: 5px 5px 40px 0px $dark-color;
    }
}