/* footer */

/* iframe de maps */
.mapa {
    width: 100%;
    height: 50%;
}

.menu-container {
    width: 50%;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    background-color: $dark-color;

    div h3 {
        padding: 25px 25px 0px 25px;
        text-align: left;
        color: $main-color;
    }
}

/* lista del footer */
.footer-list {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 15px 0px 25px 25px;
    text-align: left;

    li a {
        color: $main-color;
        text-align: left;
        font-size: large;
        display: inline-block;
    }

    li a:hover {
        color: $light-color;
    }
}

.social-container{
    width: 50%;
}

/* iconos de redes sociales */
.social-icon {
    display: inline;
    width: 50%;
    text-align: center;

    img {
        width: 70px;
        height: 70px;
        padding: 5px;
        margin: 4px;
        transition: 0.5s;
    }

    img:hover {
        width: 90px;
        height: 90px;
    }
}

/* Estilos para la sección de copyright */
.copyright {
    text-align: center;
    width: 100%;
    padding: 10px 0;

    p {
    color: $main-color;
    font-size: small;
    margin: 0;
}
}


