/* mixin para la seccion de transportes */
@mixin transporte {
    color: $main-color;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 200%;
    background-attachment: fixed;
    padding: 15%;
}

/* mixin para los banners celular */
@mixin banners {
    color: $main-color;
    background-repeat: no-repeat;
    background-size: 200%;
    background-attachment: fixed;
    padding: 20%;
}

/* mixin para los banners desktop */
@mixin banner {
    background-size: 100%;
    padding: 10%;
}

/* mixin para las sombras */
@mixin shadow {
    scale: 1.03;
    box-shadow: 2px 2px 20px 0px $dark-color;
}

/* mixin para los h1 */
@mixin h1 {
    background-color: $dark-color;
    border-radius: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 5px;
}

/* mixin para los h1 */
@mixin h2 {
    text-align: center;
    margin: 30px 30px 20px 30px;
    font-size: x-large;
    text-decoration: underline #E18903 4px;
}